.navbar {
    background-color: #2b2629;
}

a.link.navbar-brand {
    color: #ffffff;
    padding-left: 1em;
}

img {
    width: 12em;
}

.nav-item {
    cursor: pointer;
    padding: 1em;
}

a.link {
    color: #ffffff !important;
    font-size: 1em;
}

a.link:hover {
    text-decoration: None;
    color: #0162e4 !important;
}

a.link.active {
    text-decoration: None;
    color: #0162e4 !important;
}

@media (max-width: 768px) {
    a.link.navbar-brand {
        font-size: 1.5em;
    }
    .nav-item {
        padding: 0.1em;
    }
}