.activeDot {
    height: 25px;
    width: 25px;
    background-color: #0162e4;
    border-radius: 50%;
    display: inline-block;
    color: #ffffff;
}


.dot {
    height: 25px;
    width: 25px;
    background-color: #cccbcb;
    border-radius: 50%;
    display: inline-block;
    color: #000000;
}

.timetableBox {
    width: 80%;
    margin: auto;
}

.timetableBar {
    background-color: #cccbcb;
    width: 8em;
    height: 31em;
    margin: 0.5em auto 3em auto !important;
}

.circleImg {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    float: left;
    position: relative;
    margin: -0.5em 1em 0.5em -0.5em;
    object-fit: cover;
}

.rectangle {
    height: 2em;
    width: 6.5em;
    margin: 1.2em 1em 0.5em 0em;
}

.pad {
    padding: 0.5em 0.5em 0em 1em;
}

.padCols {
    padding-left: 0em !important;
    padding-right: 0em !important;
}

.jumbotext{
    line-height: 8 !important;
    font-size: 3em !important;
    font-weight: 500 !important; 
    color: #ffffff !important;
}

