.tab-grid{
    justify-content: center;
}

.event-title{
    color: black;
}

.events{
    text-align: left;
    margin: 2em 0em 0em 0em;
}

.eventBox {
    padding-left: 7em;
    width: 80%;
    margin: auto !important;
}

.tab {
    color: #000000 !important;
    border: None !important;
    padding: "0em 0em 0em 0em"
}

.tab:hover {
    color: #0162e4 !important;
    border: None !important;
}
  
.tab.active {
    color: #0162e4 !important;
    border: None !important;
}

.nav-tabs {
    border-bottom: 1em solid #eff0f2 !important;
}