.tab-grid{
    justify-content: center;
}

.event-title{
    color: black;
}

.date-night{
    text-align: left;
    margin-left: 12em;
}

.platter-design{
    text-align: left;
    margin-left: 12em;
}

.creative-whole-for-kids{
    text-align: left;
    margin-left: 12em;
    padding-bottom: 5em;
}